/* .bg-container {
  background-color: blueviolet;
  padding: 40px;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.each-game-card {
  background-color: #ffffff;
  text-align: center;
  margin: 6%;
  border-radius: 10px;
  min-width: 30%;
  max-width: 30%;
  padding: 10px;
  margin-left: 100px;
}

h1 {
  text-align: center;
  font-family: Bree Serif;
  font-weight: bold;
}

.game-image {
  height: 50%;
  width: 50%;
}

.games-card-container {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .games-card-container {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 30px;
  }
} */


.custom-bg-container {
  background-color: blueviolet;
  padding: 40px;
}

.custom-main-container {
  display: flex;
  flex-direction: column;
}

.custom-each-game-card {
  background-color: #ffffff;
  text-align: center;
  margin: 6%;
  border-radius: 10px;
  min-width: 30%;
  max-width: 30%;
  padding: 10px;
  margin-left: 100px;
}

.custom-main-heading {
  text-align: center;
  font-family: Bree Serif;
  font-weight: bold;
}

.custom-game-image {
  height: 50%;
  width: 50%;
}

.custom-games-card-container {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .custom-games-card-container {
    display: flex;
    flex-direction: column;
  }

  .custom-main-heading {
    font-size: 30px;
  }
}
